<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.vaulttec.velocity.core.velocityTemplate"
            name="%templateName"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="%fileExtensions"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vaulttec.velocity.core.VelocityCorePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
